.centro {
    background-color: aqua;
    text-align: center;
    color: black;
}

h2 {
    color: blue;
}

.dale {
    padding: 5%;
    padding-left: 15%;
}

#exp {
text-decoration: underline;

}

#hyc {
    text-decoration: underline;

}

#Ed {
    text-decoration: underline;

}
#ct {
    text-decoration: underline;

}